# Galaxy Morphology Classification - ChloÃ« Smith
## University of the Witwatersrand
## Supervisor - Dr. Ritesh Ajoodha

## Setup and imports

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#!pip install tensorflow-gpu

In [4]:
pwd

'/content'

In [5]:
cd drive/My Drive/Research Project/galaxy-zoo-kaggle/training/images

/content/drive/My Drive/Research Project/galaxy-zoo-kaggle/training/images

In [6]:
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt
import seaborn as sns
import os
import shutil
from glob import glob
import random

from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow import keras
from keras.preprocessing.image import ImageDataGenerator
from keras import layers
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, BatchNormalization, Activation, Dropout, GlobalAveragePooling2D, Input
from tensorflow.keras.optimizers import RMSprop

from tensorflow.keras.applications.resnet50 import ResNet50
from tensorflow.keras.preprocessing import image
from tensorflow.keras.applications.resnet50 import preprocess_input, decode_predictions
from tensorflow.keras.models import Model

In [7]:
def load_images_from_folder(folder):
    images = []
    for filename in os.listdir(folder):
        img = cv2.imread(os.path.join(folder,filename))
        if img is not None:
            #print(filename)
            img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
            images.append(img)
    return images

In [8]:
cd ..

/content/drive/My Drive/Research Project/galaxy-zoo-kaggle/training

# dataframe exploration

In [9]:
# load training labels
df_dist = pd.read_csv("solutions/training_solutions_rev1.csv")
df_dist.head()

   GalaxyID  Class1.1  Class1.2  ...  Class11.4  Class11.5  Class11.6
0    100008  0.383147  0.616853  ...        0.0        0.0   0.325512
1    100023  0.327001  0.663777  ...        0.0        0.0   0.000000
2    100053  0.765717  0.177352  ...        0.0        0.0   0.000000
3    100078  0.693377  0.238564  ...        0.0        0.0   0.000000
4    100090  0.933839  0.000000  ...        0.0        0.0   0.000000

[5 rows x 38 columns]

In [10]:
classes = ['Class1.1', 'Class1.2', 'Class1.3', 'Class2.1', 'Class2.2', 'Class3.1',
           'Class3.2', 'Class4.1', 'Class4.2', 'Class5.1', 'Class5.2', 'Class5.3',
           'Class5.4', 'Class6.1', 'Class6.2', 'Class7.1', 'Class7.2', 'Class7.3',
           'Class8.1', 'Class8.2', 'Class8.3', 'Class8.4', 'Class8.5', 'Class8.6',
           'Class8.7', 'Class9.1', 'Class9.2', 'Class9.3', 'Class10.1', 'Class10.2',
           'Class10.3', 'Class11.1', 'Class11.2', 'Class11.3', 'Class11.4', 'Class11.5', 'Class11.6']
#df_dist['Max'] = df_dist[classes].idxmax(axis=1)
#df_dist[['GalaxyID', 'Max']]

### Convert IDs to filenames (i.e. add extension .jpg)

In [11]:
df_dist['GalaxyID'] = df_dist['GalaxyID'].astype(str).apply(lambda x: str(x) + ".jpg")
df_dist

         GalaxyID  Class1.1  Class1.2  ...  Class11.4  Class11.5  Class11.6
0      100008.jpg  0.383147  0.616853  ...   0.000000        0.0   0.325512
1      100023.jpg  0.327001  0.663777  ...   0.000000        0.0   0.000000
2      100053.jpg  0.765717  0.177352  ...   0.000000        0.0   0.000000
3      100078.jpg  0.693377  0.238564  ...   0.000000        0.0   0.000000
4      100090.jpg  0.933839  0.000000  ...   0.000000        0.0   0.000000
...           ...       ...       ...  ...        ...        ...        ...
61573  999948.jpg  0.510379  0.489621  ...   0.000000        0.0   0.226257
61574  999950.jpg  0.901216  0.098784  ...   0.000000        0.0   0.000000
61575  999958.jpg  0.202841  0.777376  ...   0.000000        0.0   0.072296
61576  999964.jpg  0.091000  0.909000  ...   0.023065        0.0   0.045334
61577  999967.jpg  0.767000  0.140000  ...   0.000000        0.0   0.023380

[61578 rows x 38 columns]

## Pre-processing and loading

In [12]:
# split train into train and dev sets
train, test = train_test_split(df_dist, test_size=0.2, random_state=42, shuffle=True)
#display(train)

# load images from buffer, dataset is large
datagen = ImageDataGenerator(rotation_range=45, fill_mode='nearest')
# some resizing is done here, to 45x45 images
train_generator = datagen.flow_from_dataframe(dataframe=train, directory="images/images_training_rev1", x_col="GalaxyID", y_col=classes, class_mode="raw", target_size=(45,45), batch_size=32)
valid_generator = datagen.flow_from_dataframe(dataframe=test, directory="images/images_training_rev1", x_col="GalaxyID", y_col=classes, class_mode="raw", target_size=(45,45), batch_size=32)

Found 49262 validated image filenames.
Found 12316 validated image filenames.

## Benchmark model

We are exploring the effects of different feature sets, this model uses no handcrafted feature extraction.

We train ResNet-50 on the images that have only been scaled down.

In [13]:
base_model = ResNet50(weights='imagenet', include_top=False)

# add a global spatial average pooling layer
x = base_model.output
x = GlobalAveragePooling2D()(x)
# add a fully-connected layer to train for our specific dataset
x = Dense(1024, activation='relu')(x)
# add a prediction layer (softmax) for our 37 target features
predictions = Dense(37, activation='softmax')(x)

# model to train
model = Model(inputs=base_model.input, outputs=predictions)

# train only top layers
# freeze the hidden layers from ResNet50
for layer in base_model.layers:
  layer.trainable = False

# compile model, done after freezing layers
model.compile(optimizer='Adam', loss='mse', metrics=["mae", "acc"])

# train the model
STEP_SIZE_TRAIN=train_generator.n//train_generator.batch_size
STEP_SIZE_VALID=valid_generator.n//valid_generator.batch_size
model.fit(train_generator,
          steps_per_epoch=STEP_SIZE_TRAIN,
          validation_data=valid_generator,
          validation_steps=STEP_SIZE_VALID,
          epochs=3)

Epoch 1/3

UnknownError: ignored

In [ ]:
model.save('../ResNet50/11-30')